/src/.vs/ECommerceMicroservices/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/src/.vs/ECommerceMicroservices/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
/src/.vs/ECommerceMicroservices/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
